/**
* artsy.js
*
* @description :: This is the brains that allow the app to connect to artsy.
* @docs        :: http://sailsjs.org/#!documentation/models
*/
module.exports.artsy = {
  clientId: 'CLIENT_ID',
  clientSecret: 'CLIENT_SECRET',
  apiUrl: 'https://api.artsy.net/api',
  apiTokenUrl: 'https://api.artsy.net/api/tokens/xapp_token'
};